# Ignore CustomSkins
CustomSkins/*

# Allow CustomSkins README
!/CustomSkins/README.md

# Allow CustomSkins/Auscam_Security (AU)
!/CustomSkins/Auscam_Security

# Allow CustomSkins/Multicam_Security (AU)
!/CustomSkins/Multicam_Security

# Allow CustomSkins/NSW (State of Origin)
!/CustomSkins/NSW

# Allow CustomSkins/QLD (State of Origin)
!/CustomSkins/QLD
